<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>TO DO list</h1>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>ID</th>
          </tr>
        </thead>
        <tr *ngFor="let task of tasks">
          <td>
            <input type="checkbox">
          </td>
        <td>
          {{task.title}}
        </td>
        <td>
          {{task.author}}
        </td>
        <td>
          {{task.id}}
        </td>
      </tr>
    </table>
  </div>
  
</div>

<router-outlet></router-outlet>
